<table style="border: solid black 1px">
  <% 6.downto(1) do |row| %>
  <tr>
    <% 7.times do |col| %>
      <td><%= @connect4.game_board.game_board[col + 1][row - 1] %></td>
    <% end %>
  </tr>
  <% end %>

  <tr>
    <td><%= link_to "1", connect4_path(1), method:"patch" %></td>
    <td><%= submit_tag "2" %></td>
    <td><%= submit_tag "3" %></td>
    <td><%= submit_tag "4" %></td>
    <td><%= submit_tag "5" %></td>
    <td><%= submit_tag "6" %></td>
    <td><%= submit_tag "7" %></td>
  </tr>
  
</table>
