<div class="container">

  <%= flash[:error] %>
  <%= flash[:success] %>
      <%= form_tag do %>
        <% (1..7).each do |col| %>
          <div class="radio">
            <label>
              <input type="radio" name="connectfourchoices" id=<%=col%> value=<%="#{col}"%>>Column <%="#{col}"%>
            </label>
          </div>
        <% end %>
        <input type="submit">
      <% end %>

<table>
  <% 6.downto(0).each do |row| %>
    <tr>
      <% (0..6).each do |col| %>
        <td>
        <%= @c4array[col][row].nil? ? '-' : @c4array[col][row] %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to "New game!", newc4_path %>

</div>