

<h1>Welcome to Connect Four!</h1>

<p>
  Select which column to drop in using the form below
</p>


<table>
  <% @board.each do |row| %>
    <tr>
      <% row.each do |cell| %>
        <td>
          <%= cell.nil? ? '- ' : cell %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>



<% if @game_over %>

  <!-- Render Game Over Link -->
  <%= link_to "Play Again!", new_path %>

<% else %>

<%= form_tag(connectfour_drop_piece_path, :method => "POST") do %>
  <table>
    <% (0..6).each do |column| %>
      <tr>
        <sp>
         <%= radio_button_tag(:move, column)%>
      </tr>
    <% end %>
  </table>
  <%= submit_tag "Make Move" %>
<% end %>


<% end %>