<table>

<% 5.downto(0) do |row| %>
  <tr>
  <% 6.downto(0) do |col| %>
    <td><%= @board_array[col][row] %></td>
  <% end %>
  </tr>
<% end %>


<form method="post" action="<%= connect_four_index_path %>">
  <tr>
    <td><%=radio_button_tag("move", "6", true)%></td>
    <td><%=radio_button_tag("move", "5")%></td>
    <td><%=radio_button_tag("move", "4")%></td>
    <td><%=radio_button_tag("move", "3")%></td>
    <td><%=radio_button_tag("move", "2")%></td>
    <td><%=radio_button_tag("move", "1")%></td>
    <td><%=radio_button_tag("move", "0")%></td>
    <td><%=submit_tag("Make Move!")%></td>
  </tr>
  <input  type="hidden"
   name="authenticity_token"
   value="<%= form_authenticity_token %>">
</form>

</table>

