

<h1>Board game Connect Four </h1>
<h4><%=session[:player] %> play now!</h4>
<ul>
  <table>
    <% 6.times do |row| %>
        <tr>
          <% 7.times do |col|%>
           <td>
            <%=Piece.find_by(x_value: col, y_value: row).color %>
           </td>
           <%end%>
        </tr>
    <%end%>
  </table>
  <form action="move" method="post">
    <%0.upto(6) do |i| %>
     
        <input type="radio" name="move" value ="<%=i%>" <%="disabled".html_safe if column_full(i) %>>
      
     <% end %>

    <br>
    <input type="submit" value="Move">
    <input  type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  </form>
  <form action="reset" method="get">
    <input type="submit" value="Reset">
  </form>
</ul>
