<main>

  <div class ="row">
    <h1>Connect Four</h1>
      <h4>Choose which column to drop your tile into:</h4>
  </div>

  <div class ="row" role="game_board" >
    <div class = "col-md-6 col-md-offset-3">
      <div class = "row">
      <%= form_tag connect_four_drop_piece_path, method: "post" do%>
          <div class = "col-md-12">
          <%= radio_button_tag(:column, "0") %>
          <%= radio_button_tag(:column, "1") %>
          <%= radio_button_tag(:column, "2") %>
          <%= radio_button_tag(:column, "3") %>
          <%= radio_button_tag(:column, "4") %>
          <%= radio_button_tag(:column, "5") %>
          <%= radio_button_tag(:column, "6") %>
        </div>
        <!-- BOARD GOES HERE-->
        <div class = "col-md-12">
          <%= submit_tag "Drop!", class: "btn btn-primary" %>
        </div>
      <% end %>

      </div>
    </div>
  </div>

</main>
