<h1>Connect Four</h1>

<p>
  <% grid.transpose.reverse.each do |rows| %>
    <% rows.each do |space| %>
      <% if space.empty? %>
        <span>|___|</span>
      <% else %>
        <span> <%= "|#{space['color'].center(3, '_')}|" %> </span>
      <% end %>
    <% end %>
    <br>
  <% end %>
</p>


<%= form_tag("/game", method: "put") do %>
  <% 7.times do |index| %>
    <%= radio_button_tag(:move, "#{index}") %>
    <%= label_tag(:move, "column #{index + 1}") %>
  <% end %>
  <%= submit_tag("submit") %>
<% end %>

<% if status %>
  <h3> <%= "#{session[:player]} wins!" %> </h3>
<% end %>
