<h1>Connect Four</h1>

<p>
  <% grid.transpose.reverse.each do |rows| %>
    <% rows.each do |space| %>
      <% if space.empty? %>
        <span>|___|</span>
      <% else %>
        <span> <%= "|#{space['color'].center(3, '_')}|" %> </span>
      <% end %>
    <% end %>
    <br>
  <% end %>
</p>

<% if status %>
<h3> <%= "#{player} wins!" %> </h3>
<%=link_to "New Game", new_game_path%>
<% else %>
  <%= form_tag("/game", method: "put") do %>
    <% 7.times do |index| %>
      <%= radio_button_tag(:move, "#{index}") %>
      <%= label_tag(:move, "#{index + 1}") %>
    <% end %>
    <%= submit_tag("submit") %>
  <% end %>
<% end %>
