<p>
  Board HERER
</p>

<table>
  <% 5.downto(0) do |rows| %>
    <tr>
      <% 0.upto(6) do |cols|  %>
        <td>
          <% if @active_board[rows][cols].nil? %>
              <%= " " %>
          <% else %>
            <%= @active_board[rows][cols] %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <%= form_tag(connect_fours_path, :method => "post") do%>
      <% 7.times do |cols| %>
      <td>
        <%unless @board.col_full?(cols)%>
          <%= radio_button_tag(:column, cols)%>
        <%end%>
      </td>
    <% end%>
  </tr>
</table>
    <%= submit_tag("Enter move")%>
<%end%>
