<%= render 'shared/navbar' %>


<main>
	<secion class="rps-game-wrapper container">
		<div class="rps-content col-md-6">
			<header class="header">
				<h2>Rock, Paper, Scissors</h2>
				<p>Play the game below</p>

			</header>
			<!-- needs to have a case for the start of the game. Otherwise these values are nil. -->
			<div class="col-md-8 col-md-offset-3">
				<div class="game-box">
					<h3><%="Computer chose {@choices[@comp_choice.to_i]}"%></h3>
					<h3><%="Player chose {@choices[(@player_choice.to_i) -1]}"%></h3>
					<h3><%="The result is {@winner}"%></h3>
				</div>
				<div class="game-box">
					<div class="row">
						<h3><%="Player: ___ Computer: ___ "%></h3>
					</div>
				</div>

				<div class="game-box">
					<%= form_tag(rockpaperscissors_make_move_path) do %>
						<%= radio_button_tag(:player_choice, 1) %>
						<%= label_tag(:rock_label, "Rock") %>

						<%= radio_button_tag(:player_choice, 2) %>
						<%= label_tag(:paper, "Paper") %>

						<%= radio_button_tag(:player_choice, 3) %>
						<%= label_tag(:scissors_label, "scissors") %>
						<%= submit_tag("Ro Sham Bo!") %>
					<% end %>

				</div>


			</div>
		
		</div>
		<br>
		<br>
		<br>
		<br>
	<h1><%= @result %></h1>
	</secion>
</main>
