<h5>Hello, World!</h5>

<%= form_tag(rock_paper_scissors_make_move_path, :method => "POST") do %>
  <%= radio_button_tag(:move, "R") %>Rock <br>
  <%= radio_button_tag(:move, "P") %>Paper <br>
  <%= radio_button_tag(:move, "S") %>Scissors
  <%= submit_tag "Make Yer Move, SON" %>
<% end %>
 

