<!DOCTYPE html>
<html>
<head>
  <title>AssignmentRailsConnect4</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<%= render "shared/board" %>
<%= yield %>
<%= render "shared/dashboard" %>
</body>
</html>
